<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MyApp"
        android:theme="@style/Theme.Process">

        <activity
            android:name=".SubProcessActivity"
            android:process=":sa"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <receiver android:name=".MyReceiver"
            android:exported="true"
            android:process=":sa">
            <intent-filter>
                <action android:name="com.dsw.exploring"/>
            </intent-filter>
        </receiver>

        <service android:name=".MyService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.dsw.service"/>
            </intent-filter>
        </service>
    </application>

</manifest>